@model SWSC.Presentation.MVC.ViewModels.DistanceVM

@{
    ViewData["Title"] = "Distance";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetDistance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MGLT" class="control-label"></label>
                <input asp-for="MGLT" class="form-control" />
                <span asp-validation-for="MGLT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get ships" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
